---
layout: page
title: About
subtitle: Everything about me
permalink: /about/
---

<h2>About me</h2>
<p>Keep going, Never settle. </p>
    <p><ul class="about-list">
		<li>
			<i class="fa fa-twitter"></i><a href="http://weibo.com/{{ site.weibo_username }}"> Weibo</a>
		</li>
		<li>
			<i class="fa fa-twitter"></i><a href="https://twitter.com/{{ site.twitter_username }}"> Twitter</a>
		</li>
		<li>
			<i class="fa fa-github"></i><a href="https://github.com/{{ site.github_username }}"> Github</a>
		</li>
		<li>
			<i class="fa fa-envelope"></i><a href="mailto:{{ site.email }}?subject=Hello&nbsp;{{ site.name }}"> Email</a>
		</li>
	</ul></p>

	{% if site.skillstree %}
	{% include skillstree.html %}
	{% endif %}
