<h2>My Skills Tree</h2>
<section class="tech">
    <div class = "item">
        <div class = "describe">
        Python
        </div>
        <div class="progress">
            <span class="yellow" style="width: 80%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
        PHP
        </div>
        <div class="progress">
            <span class="green" style="width: 73%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
        Javascript
        </div>
        <div class="progress">
            <span class="blue" style="width: 70%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
        HTML, CSS
        </div>
        <div class="progress">
            <span class="red" style="width: 65%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
        MySQL
        </div>
        <div class="progress">
            <span class = "darkblue" style="width: 46%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            Linux, Git
        </div>
        <div class="progress">
            <span class="grey" style="width: 42%;"></span>
        </div>
    </div>
</section>
