<!DOCTYPE html>
<html>
  <head>
  	<meta name="yandex-verification" content="efe720f7b15d5844" />
	<script type="text/javascript" src="http://tajs.qq.com/stats?sId=62637431" charset="UTF-8"></script>
	  
				
      
  {% include head.html %}

  {% if site.google-analytics %}
  {% include google-analytics.html %}
  {% endif %}

  {% if page.url == "/404.html" %}
  <meta http-equiv="refresh" content="10; url={{ site.baseurl }}">
  {% endif %}

  </head>

  <body>

  {% include header.html %}

  <div class="wrapper">
        {{ content }}
  </div>

</body>

<foot>

    {% include footer.html %}
    {% include foot.html %}

</foot>

</html>
