<!DOCTYPE html>
<html>
  <head>
  <meta name="google-site-verification" content="fHxWYq55K0w5AdXmRDNPCW6ziF8v_Czfn5D53QGNXI8" />
      
  {% include head.html %}

  {% if site.google-analytics %}
  {% include google-analytics.html %}
  {% endif %}

  {% if page.url == "/404.html" %}
  <meta http-equiv="refresh" content="10; url={{ site.baseurl }}">
  {% endif %}

  </head>

  <body>

  {% include header.html %}

  <div class="wrapper">
        {{ content }}
  </div>

</body>

<foot>

    {% include footer.html %}
    {% include foot.html %}

</foot>

</html>
